
{% load static %}

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="index.html"
    >
      <div class="sidebar-brand-icon">
        <img src="/static/img/logo.jpg" alt="" />
      </div>
    </a>
    

    <li class="nav-item active">
      <a class="nav-link" href="kamerakayit.html">
        <i class="fas fa-fw fa-film"></i>
        <span>Aktifleştirme</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="kayitweb.html">
        <i class="fas fa-fw fa-film"></i>
        <span>Kamera Kayıtları</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="hakkimizda.html">
        <i class="fas fa-fw fa-glass-cheers"></i>
        <span>Hakkimizda</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="kişimail.html">
        <i class="fas fa-fw fa-users"></i>
        <span>Kişi ve Mail Bilgileri</span></a
      >

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">Extra</div>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-fw fa-pager"></i>
        <span>Mail</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Tümünü Gör</h6>
          <a class="collapse-item" href="smtp.html">SMTP Ayarları</a>
          <a class="collapse-item" href="mail.html">Gönderilen Mailler</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
      <i class="fas fa-fw fa-clone"></i>
      <span>Extra</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Giriş Ekranları:</h6>
        <a class="collapse-item" href="login.html">Giriş</a>
        <a class="collapse-item" href="forgot-password.html"
          >Şifremi Unuttum</a
        >
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Diğer Sayfalar:</h6>
        <a class="collapse-item" href="404.html">404</a>
        </div>
    </div>
  </li>
</ul>
