
{% load static %} 

<nav class="navbar navbar-expand navbar-dark topbar mb-4 pl-0 static-top shadow">
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>

        <form
          class="
            d-none d-sm-inline-block
            form-inline
            mr-auto
            my-2 my-md-0
            mw-100
            navbar-search
          "
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-white border-0 small"
              placeholder="Search for Movies, Events, Plays, Sports and Activities..."
              aria-label="Search"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn bg-white" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="searchDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-search fa-fw"></i>
            </a>

            <div
              class="
                dropdown-menu dropdown-menu-right
                p-3
                shadow
                animated--grow-in
              "
              aria-labelledby="searchDropdown"
            >
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border-0 small"
                    placeholder="Search for..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <li class="nav-item no-arrow mx-1">
            <a class="nav-link" href="offers.html">
              <i class="fas fa-fire fa-fw"></i>

              <span class="badge badge-danger bg-gradient-danger">NEW</span>
            </a>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a
              class="nav-link dropdown-toggle"
              href="mail.html"
              id="alertsDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-bell fa-fw"></i>
          
              <span class="badge badge-danger badge-counter">8+</span>
            </a>
          
            <div
              class="
                dropdown-list dropdown-menu dropdown-menu-right
                shadow
                animated--grow-in
              "
              aria-labelledby="alertsDropdown"
            >
              <h6 class="dropdown-header">Mail</h6>
              <a class="dropdown-item d-flex align-items-center" href="mail.html">         
              <a class="dropdown-item text-center small text-gray-500" href="mail.html"
                >Tüm Mailleri Gör</a
              >
            </div>
          </li>
          </li>

     <li class="nav-item dropdown no-arrow d-sm-none">
  <a
    class="nav-link dropdown-toggle"
    href="mail.html"
    id="searchDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i class="fas fa-search fa-fw"></i>
  </a>

  <div
    class="
      dropdown-menu dropdown-menu-right
      p-3
      shadow
      animated--grow-in
    "
    aria-labelledby="searchDropdown"
  >
    <form class="form-inline mr-auto w-100 navbar-search">
      <div class="input-group">
        <input
          type="text"
          class="form-control bg-light border-0 small"
          placeholder="Search for..."
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <li class="nav-item dropdown no-arrow">
    <a
      class="nav-link dropdown-toggle"
      href=admin.site.urls
      id="userDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"
        >HorseApp</span
      >
      <img class="img-profile rounded-circle" src="static/img/logoo.png">
    </a>
  
    <div
      class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
      aria-labelledby="userDropdown"
    >
      
      <a class="dropdown-item" href=/admin/>
        <i
          class="fas fa-user-circle fa-sm fa-fw mr-2 text-gray-400"
        ></i>
        Admin
      </a>
      <a class="dropdown-item" href="cikis.html"/>
      
        <i
          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
        ></i>
        Çıkış
      </a>
    </div>
  </li>
        </ul>
      </nav>